.panel {
    border: 0 none; border-radius: 0; box-shadow: 0 0 0 transparent; margin-bottom: 10px;
    .panel-title {
        position: relative; font-weight: bold;
	a { transition:  0.2s all; outline: 0 none; }
	input {  }
    }
    .panel-body {
	padding: 0; position: relative; clear: both;
	.item { position: relative; }
    }
    .panel-footer {
	background: transparent; position: relative; border: 0 none; margin: 0; padding: 0;
    }
    .img {
	& > a { display: block; width: 100%; }
    }
}